<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="/blog/{{p.key().id()}}">{{p.subject}}</a>
    </div>
    <div style="font-size:10px; text-align:right;" class="post-user">
      {{p.username}}
    </div>
    <br>
    
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <div style="text-align:right;" class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
  </div>
  {% if user.username == p.username %}
     <input type="button" class="delete-warning" data-id="{{p.key().id()}}" value="Delete">

  {% endif %}
  <br><br>
</div>


