{% extends "blog-base.html" %}


{% block content %}
<form method="post">
   <label>
   	  Username
      <input type = "text" name="username" value="{{username}}">{{errorUsername}}
   </label>
   <br>
   <label>
   	  Password
      <input type = "password" name="password">{{errorPassword}}
   </label>
   <br>
   <label>
   	  Verify
      <input type = "password" name="verify">{{errorNoMatch}}
   </label>
   <br>
   <label>
   	  Email (optional)
      <input type = "text" name="email" value="{{email}}">{{errorEmail}}
   </label>
   <br>
   <input type = "submit">
</form>

{% endblock %}